.wrapper {
  width: 1300px;
  border: solid red 2px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  background-color: rebeccapurple;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
